/* Basic styling */

:root {
  --salmon: #F55A5A;
  --dark-blue: #2B283A;
  --grey: #918E9B;
  --light-grey: #F5F5F5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: var(--dark-blue);
}

* {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */

.navbar {
  background: var(--salmon);
  color: #fff;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 997;
  box-shadow: 0 1px 1.5px rgba(171, 33, 33, 0),
    0 1.5px 2.5px rgba(171, 33, 33, 0.1),
    0 2px 3px rgba(171, 33, 33, 0.3);
  ;
}

.page-title {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}

/* Main content */

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
}

/* Travel cards */

.card {
  display: flex;
  align-items: center;
  margin: 2rem;
  font-size: 0.64rem;
}

.card > * {
  flex: 1;
}

.card .photo-container {
  overflow: hidden;
  max-width: 10rem;
  border-radius: 5%;
}

.card .photo {
  aspect-ratio: 3 / 4;
  object-fit: cover;
  transition: transform .5s ease;
}

.card .photo:hover {
  transform: scale(1.2) rotate(3deg);
}

.card .content {
  display: flex;
  flex-direction: column;
  padding-left: 1.85em;
}

.card .location {
  display: inline-flex;
  align-items: center;
}

.card .location .pin {
  color: var(--salmon);
}

.card .location .country {
  letter-spacing: 0.17em;
  text-transform: uppercase;
  padding-inline: 0.4em;
}

.card .location .google-maps {
  margin-left: auto;
  color: var(--grey);
}

.card .card-title {
  font-size: 2em;
  font-weight: 700;
  margin-block: 0.4em;
}

/* Card divider */

.divider {
  width: calc(100% - 4rem);
  border-top: 1px solid var(--light-grey);
}

/* Responsive layout */

@media (min-width: 40rem) {
  .card {
    max-width: 45rem;
    font-size: 0.8rem;
  }

  .card .photo-container {
    max-width: 20rem
  }

  .card .photo {
    aspect-ratio: 4 / 3;
  }
}